# Ignore folders
/SAR/__pycache__/*
/SAR/Results/*
/SAR/Multi searching/QLearning/Centralized/__pycache__/*
/SAR/Multi searching/QLearning/Decentralized/__pycache__/*
/SAR/Multi searching/DQN/__pycache__/*


/Maze/__pycache__
/Maze/include
/Maze/Lib
/Maze/Scripts
/Maze/share

# Ignore IDE giles
/.vscode

/SAR/hello.txt
